This notebook is related to a growth model, which is an attempt to identify drivers and levers of growth

In [1]:
import numpy as np
import altair as alt

import pydqt
import pandas as pd
import os
import itertools
from importlib import reload
import numpy as np

# os.sys.path.append('../timeseries') 
# from tsx import sum_of_nchoosek as snck
# import tsx as tsx

pydqt.set_workspace(root='/Users/mingham/research/workspaces/',name='growth_model')
pydqt.set_schema('core_wip')

In [10]:
q=pydqt.Query('test.sql')
q.run()
sum(q.df.duplicated())

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJfb9owFMW%2FSuQ9J3ZcBqtFQBkILRJlEYRK9M2LTWrVsVP%2FIfTbz4QidQ%2BttAdLln2O7%2B%2F63On83MroxI0VWmUgTRCIuKo1E6rJwL5axT9AZB1VjEqteAbeuAXz2dTSVnYk9%2B5Zbfmr59ZF4SFlyXCRAW8U0dQKSxRtuSWuJrv8YU1wgkhntNO1luCD5WsHtZYbFwhvFmZFwHt2riMQ9n2f9HeJNg3ECCGI7mFQXSTfbvpz6OkTfQrR6KIPiiAv39l%2BCnX9gq%2Bw%2FlxFlvyqqjIuf%2B8qEOU31IVW1rfc7Lg5iZrvt%2BsrgA0Eq914co9xwn3ch6%2BL08Qq3R8lfeG1bjvvwqtJ2MEjZ1DqRoTGi2UGuhfBjrTd68XCv1brbS5P28K15Y4e8vVkQ8%2FL9YluPROHw6YoHmoQPd6SxZdkC2s9L9QlTxeOEB7FCMf4rkoxSVPyfZTgMXoC0TJACUXd4LxB07rWXjmbNFo3kg98Gl7Cw1Cwbh6WYNkCpY1ik%2FEZXIeEDDXN7H9bn8KP7vd524QIimWppajfopU2LXWfJ5Qm6XAiWHwcpIS3VMicMcOtDUlJqfuF4dSFsXbGcwBn16r%2FDvbsLw%3D%3D&RelayState=58335 to authenticate...

/Users/mingham/research/.venv/lib/python3.11/site-packages/pydqt/pydqt.py:633: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.sql.text, conn)

1058

555 duplicates for 'WEEK'
1058 duplicates for 'MONTH'
1058 duplicates for 'QUARTER'

In [2]:
from itertools import combinations
x = combinations(['a','b','c'],2)

In [8]:
df=pd.read_csv('~/Downloads/dups.csv')

In [15]:
tf=df.duplicated('NC_COMPONENTS_DERIVED_FROM_BASE_ID',False)

In [17]:
df[tf==True].sort_values(['NC_COMPONENTS_DERIVED_FROM_BASE_ID'])

,NC_COMPONENTS_DERIVED_FROM_BASE_ID,PERIOD_DS_FREQ,EVENT_DS,MAJOR_MARKET_PARTNER,IS_MEMBER,USER_TYPE,SESSION_TRAFFIC_SOURCE_GROUPING,USER_COUNT,SESSION_COUNT,SESSIONS_PER_USER,...,CONVERSION_COUNT,TRACK_CONVERSION_RATE,ORDER_COUNT,ORDER_COUNT_PER_CONVERSION,GMV,AOV,GROSS_COMMISSION,NET_COMMISSION,CPA_RATE,RETAIN_RATE
13668,MONTH|2024-02-01|ALL|ALL|ALL|ALL,MONTH,2024-02-01,ALL,ALL,ALL,ALL,210935,225764,1.070301,...,1139.0,0.102465,1366.0,1.199298,325084.577804,237.982853,44086.083413,41117.005169,0.135614,0.932653
23601,MONTH|2024-02-01|ALL|ALL|ALL|ALL,MONTH,2024-02-01,ALL,ALL,ALL,ALL,115697,124483,1.075940,...,605.0,0.070835,823.0,1.360331,205783.629618,250.040862,27190.080314,23728.666289,0.132129,0.872696
73341,MONTH|2024-02-01|ALL|ALL|ALL|ALL,MONTH,2024-02-01,ALL,ALL,ALL,ALL,215116,230979,1.073742,...,839.0,0.075928,999.0,1.190703,221732.470634,221.954425,29144.431339,26649.232158,0.131440,0.914385
23602,MONTH|2024-02-01|ALL|ALL|ALL|ALL,MONTH,2024-02-01,ALL,ALL,ALL,ALL,211589,226163,1.068879,...,1322.0,0.115691,1540.0,1.164902,374864.230629,243.418332,50853.798438,46721.413560,0.135659,0.918740
58358,MONTH|2024-02-01|ALL|ALL|ALL|ALL,MONTH,2024-02-01,ALL,ALL,ALL,ALL,533542,581169,1.089266,...,4122.0,0.009554,4221.0,1.024017,855621.211718,202.705807,120027.933197,119426.635400,0.140282,0.994990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45973,WEEK|2024-02-12|null|TRUE|web only signup|PAID,WEEK,2024-02-12,NaN,TRUE,web only signup,PAID,4,4,1.000000,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60961,WEEK|2024-02-12|null|TRUE|web only signup|PAID,WEEK,2024-02-12,NaN,TRUE,web only signup,PAID,2,2,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60920,WEEK|2024-02-12|null|TRUE|web only signup|PAID,WEEK,2024-02-12,NaN,TRUE,web only signup,PAID,2,2,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31076,WEEK|2024-02-12|null|TRUE|web only signup|PAID,WEEK,2024-02-12,NaN,TRUE,web only signup,PAID,1,1,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65937,WEEK|2024-02-12|null|TRUE|web only signup|PAID,WEEK,2024-02-12,NaN,TRUE,web only signup,PAID,2,2,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

This notebook is investigating why AOV and Customer Purchase Rate is down in FY24.  I shall be using data from CORE_WIP.nc_components_derived_aggregates_v2 (see template for details)

In [2]:
# q=pydqt.Query('dev.sql')
q=pydqt.Query('nc_components_derived_aggregates_from_base.sql',min_query_date='2023-11-01')
q.run(database='lyst_dev',schema='lyst_analytics')

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJRT9swFIX%2FSuQ9J3ZMacFqWqWt2lWCraOBaXsziRMsHDvzdUj593OaVoIHkHiIFNn3%2BDv3njudH2oVvAgL0ugExRFBgdC5KaSuEnSfrcMrFIDjuuDKaJGgVwFoPpsCr1XD0tY96TvxrxXgAv%2BQBtZfJKi1mhkOEpjmtQDmcrZPb28YjQjjAMI6j0MnSQHSs56caxjGXddF3UVkbIUpIQSTa%2Byr%2BpJv6A2i%2BZzRWONMbtRZcvA9fYCIMRn1CF%2FhCbuTcCH1MILPKI9DEbDvWbYLdz%2F3GQrSc3dLo6Gthd0L%2ByJzcX93MxgA72C9H0%2BuKY1EG3Z%2BdGEcgTZdqfizyE3dtM6%2FGvk%2FXIoCK1NJP6vtKkHNsyyax80fvQElb9PLbfa77lrYHKReXHHaHB4WZdcsy%2FGmTn%2FxUY6Ch3OytE92C9CKre7zdP6I0FFIaEhJFo%2FZ6JLRcTSZXPxFwcqbkpq7o%2FJsmue5abWDqDKmUuLoz%2BA%2BDIq9rbn%2FZJEsSVzpYjI%2BoGFJ2JFpZ19tfYrfqk%2F79sNHsF3tjJL5a7A2tubu44TiKD6eyCIsj6VM1FyqtCisAPBJKWW6pRXc%2BbV2thUIzwbq%2B8We%2FQc%3D&RelayState=55467 to authenticate...

/Users/mingham/research/.venv/lib/python3.11/site-packages/pydqt/pydqt.py:633: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.sql.text, conn)

,PERIOD_DS_FREQ,EVENT_DS,MAJOR_MARKET_PARTNER,IS_MEMBER,USER_TYPE,SESSION_TRAFFIC_SOURCE_GROUPING,USER_COUNT,SESSION_COUNT,SESSIONS_PER_USER,LEAD_GENERATION_COUNT,...,CONVERSION_COUNT,TRACK_CONVERSION_RATE,ORDER_COUNT,ORDER_COUNT_PER_CONVERSION,GMV,AOV,GROSS_COMMISSION,NET_COMMISSION,CPA_RATE,RETAIN_RATE
0,DAY,2023-12-30,ALL,TRUE,app first,PLA-EC,630,714,1.133333,162,...,9.0,0.055556,10.0,1.111111,5650.447280,565.044728,666.597200,666.677200,0.117972,1.000120
1,DAY,2024-01-11,ALL,TRUE,app first,DIRECT,55750,74069,1.328592,12684,...,212.0,0.016714,218.0,1.028302,70564.934878,323.692362,10291.141754,10203.807638,0.145839,0.991514
2,DAY,2023-11-03,ALL,TRUE,app first,PAID,2753,2949,1.071195,715,...,6.0,0.008392,6.0,1.000000,969.169597,161.528266,152.231023,138.431023,0.157074,0.909348
3,DAY,2023-12-06,ALL,TRUE,w2a,PAID,1061,1165,1.098021,727,...,12.0,0.016506,12.0,1.000000,5834.368131,486.197344,757.832127,748.642127,0.129891,0.987873
4,DAY,2023-11-01,ALL,TRUE,w2a,ORGANIC,8309,10326,1.242749,4252,...,64.0,0.015052,78.0,1.218750,23627.552518,302.917340,3357.483199,2803.623199,0.142100,0.835037
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377515,QUARTER,2024-01-01,Latin America,ALL,ALL,ALL,18095,20668,1.142194,7839,...,53.0,0.006761,59.0,1.113208,18363.174474,311.240245,2578.919917,2439.529917,0.140440,0.945950
377516,QUARTER,2024-01-01,ROW,ALL,ALL,ALL,3329,3800,1.141484,1773,...,10.0,0.005640,10.0,1.000000,1996.681062,199.668106,262.384045,262.264045,0.131410,0.999543
377517,QUARTER,2024-01-01,Europe (rest of Europe),ALL,ALL,ALL,62758,70894,1.129641,48470,...,276.0,0.005694,277.0,1.003623,93054.463715,335.936692,13618.470899,13576.430899,0.146349,0.996913
377518,QUARTER,2023-10-01,IT,ALL,ALL,ALL,32764,34727,1.059913,35750,...,298.0,0.008336,321.0,1.077181,84609.891212,263.582216,12660.446985,12489.172056,0.149633,0.986472
377519,QUARTER,2023-10-01,DE,ALL,ALL,ALL,65761,69215,1.052524,70044,...,1464.0,0.020901,1571.0,1.073087,510158.549824,324.734914,84200.437711,75379.447137,0.165048,0.895238

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJRb9sgFIX%2FisWebTBLkwbFidxkUSNla9a4U9c3aoiLisHj4jjtrx9xGql7aKU9ICE4h%2Ftdzp3MDrWO9tKBsiZDaUJQJE1phTJVhu6KZXyJIvDcCK6tkRl6kYBm0wnwWjcsb%2F2TuZV%2FWgk%2BCg8ZYP1FhlpnmOWggBleS2C%2BZNv8%2B5rRhLDGWW9Lq9E7y%2BcODiCdD4RniwAV8J68bxjGXdcl3dfEugpTQggmYxxUR8mXs%2F4QevpAn2IyOOqDIsg3b2xXypy%2B4DOsx5MI2HVRbOLNzbZAUX5GnVsDbS3dVrq9KuXd7foEAIFguR2OxpQmso278HVxmoCx3U7zZ1nauml9eDUJO7yTAmtbqdD4apGh5lmJkdvsyqvfP1NaD8V6DXx%2F8%2B3%2B9VU%2BpGpIXS5WzeNwfn99MTZ5iaJf52TpMdkVQCtX5pinD0eEDmJCY5oW6YCRS0YuklFKH1C0CFDKcN87z9C8LG1rPCSVtZWWPZ%2FFx%2FAoVqKZhaVENidpZcRoeECnIWF9TTf939Yn%2BL37bd5%2BhAhWi43VqnyJltbV3H%2BcUJqk%2FYkS8a6XMllzpXMhnAQISWltu7mT3Iex9q6VCE9PVf8d7Olf&RelayState=58463 to authenticate...
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJfb9sgFMW%2FisWebTBp0gbVifJn2aK1a9S4nbo3YohDg8Hj4jr99iNOI3UPrbQHJATncH%2BXc6%2FHh0pHL9KBsiZDaUJQJE1hhTJlhh7yRXyFIvDcCK6tkRl6lYDGo2vgla7ZpPE7cy%2F%2FNBJ8FB4ywLqLDDXOMMtBATO8ksB8wdaT2xtGE8JqZ70trEbvLJ87OIB0PhCeLQJUwNt5XzOM27ZN2l5iXYkpIQSTIQ6qo%2BTLWX8IPX2gTzG5OOqDIshXb2xTZU5f8BnW5iQC9j3PV%2FHqbp2jaHJGnVkDTSXdWroXVciH%2B5sTAASCxXpwOaQ0kU3chq%2BL0wSMbbea72Vhq7rx4dUk7PBWCqxtqULjy3mG6r0S3wr3tPy1%2BApP5d1Uc7rf%2F9B%2Bt38263y28L3N86aY9vNHs9JXBYoez8nSY7JLgEYuzTFPH44IvYgJjSnNU8J6PdbrJ8NB%2FzeK5gFKGe475xmaF4VtjIektLbUsuOz%2BBgexUrU47CUyGYkLY24HBzQaUhYV9ON%2Frf1a%2Fze%2FTZvP0MEy%2FnKalW8RgvrKu4%2FTihN0u5EiXjbSZmsuNITIZwECElpbduZk9yHsfaukQiPTlX%2FHezRXw%3D%3D&RelayState=60989 to authenticate...
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJRb9owFIX%2FSuQ9J3Y8BMMiIAZCQ%2BtaKLBNfXPjS7Ca2JmvQ%2BDfz4QidQ%2BttAdLln2O73d97mhyqsroCA61NRlJE0YiMLlV2hQZ2W0X8RcSoZdGydIayMgZkEzGI5RVWYtp4w%2FmEf40gD4KDxkU3UVGGmeElahRGFkBCp%2BLzfTHneAJE7Wz3ua2JG8sHzskIjgfCG8WhTrgHbyvBaVt2ybt58S6gnLGGGVDGlQXyaeb%2FhR6ekefUta76IMiyFevbF%2B1uX7BR1jPVxGKb9vtKl49bLYkmt5QZ9ZgU4HbgDvqHHaPd1cADASLTX8w5DyBJm7D18Vpgsa2%2B1K%2BQG6ruvHh1STs6B4ULW2hQ%2BPLeUbqF63OMHh253pg13DPZuvl0fd%2BDTWud%2BnvtmG64r3d98M0h%2FUTy0n085YsvyS7RGxgaS55%2BnDEeC9mPOZ8y5ngXLB%2BwtL%2BE4nmAUob6TvnDVrmuW2Mx6Swtiih47P0Eh6nWtWTsLTKZiwtjBr0T%2BQ6JKKr6cb%2F2%2FqIvnW%2Fztt9iGA5X9lS5%2BdoYV0l%2FfsJpUnanWgV7zupgErqcqqUA8SQVFnaduZA%2BjDW3jVA6Pha9d%2FBHv8F&RelayState=50272 to authenticate...
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJRb9owFIX%2FSuQ9J44NosQiIApFZWIdKnTa9ubGJnXr2MHXIXS%2FfiYUqXtopT1YsuxzfL%2Frc0eTY6Wjg3SgrMkRSVIUSVNYoUyZo4ftIh6iCDw3gmtrZI5eJaDJeAS80jWbNv7J3Mt9I8FH4SEDrLvIUeMMsxwUMMMrCcwXbDP9tmI0SVntrLeF1eid5XMHB5DOB8KLRYAKeE%2Fe1wzjtm2TtpdYV2KapilOMxxUJ8mXi%2F4YevpAT3DaP%2BmDIsjXb2zXypy%2F4DOsx7MI2O12u47X3zdbFE0vqDNroKmk20h3UIV8uF%2BdASAQLDaDq4zSRDZxG74uJgkY2%2B40f5GFrerGh1eTsMM7KbC2pQqNL%2Bc5ql%2BUgNm%2B%2Frq4vc5uDntLnn%2F24EhvZn%2BGw70d0v4zz%2FRmJcTwV%2FZYFij6cUmWnpJdAjRyaU55%2BnCU0n6c0pj2toQwMmA0S0iP%2FkbRPEApw33nvEDzorCN8ZCU1pZadnwWn8KjWIl6EpYS%2BSwlpRFXgyM6Dwnrarrx%2F7Y%2Bwu%2Fdb%2FN2FyJYztdWq%2BI1WlhXcf9xQiQh3YkS8a6TMllxpadCOAkQktLatjMnuQ9j7V0jER6fq%2F472OO%2F&RelayState=52155 to authenticate...

In [23]:
tf=q.df.duplicated(['PERIOD_DS_FREQ','EVENT_DS','MAJOR_MARKET_PARTNER','IS_MEMBER','USER_TYPE','SESSION_TRAFFIC_SOURCE_GROUPING'],False)

In [24]:
sum(tf)

281298

In [28]:
dups_df=q.df[tf].sort_values(['PERIOD_DS_FREQ','EVENT_DS','MAJOR_MARKET_PARTNER','IS_MEMBER','USER_TYPE','SESSION_TRAFFIC_SOURCE_GROUPING'])

In [30]:
dups_df[dups_df['PERIOD_DS_FREQ']=='QUARTER']

,PERIOD_DS_FREQ,EVENT_DS,MAJOR_MARKET_PARTNER,IS_MEMBER,USER_TYPE,SESSION_TRAFFIC_SOURCE_GROUPING,USER_COUNT,SESSION_COUNT,SESSIONS_PER_USER,LEAD_GENERATION_COUNT,...,CONVERSION_COUNT,TRACK_CONVERSION_RATE,ORDER_COUNT,ORDER_COUNT_PER_CONVERSION,GMV,AOV,GROSS_COMMISSION,NET_COMMISSION,CPA_RATE,RETAIN_RATE
6235,QUARTER,2023-10-01,ALL,ALL,ALL,ALL,711064,775732,1.090945,571145,...,9103.0,0.015938,9775.0,1.073822,2.165478e+06,221.532322,319512.446595,262062.044419,0.147548,0.820194
17707,QUARTER,2023-10-01,ALL,ALL,ALL,ALL,612851,668316,1.090503,475725,...,7372.0,0.015496,7920.0,1.074335,1.814964e+06,229.162123,269402.332911,243130.077635,0.148434,0.902479
23359,QUARTER,2023-10-01,ALL,ALL,ALL,ALL,657206,716419,1.090098,560588,...,10321.0,0.018411,11062.0,1.071795,2.126388e+06,192.224519,306353.321736,270474.902284,0.144072,0.882885
29374,QUARTER,2023-10-01,ALL,ALL,ALL,ALL,935651,1025007,1.095501,810472,...,15691.0,0.019360,16792.0,1.070168,3.316495e+06,197.504451,475102.107382,392088.990633,0.143254,0.825273
41185,QUARTER,2023-10-01,ALL,ALL,ALL,ALL,691237,756344,1.094189,589829,...,9860.0,0.016717,10532.0,1.068154,2.189463e+06,207.886717,315366.851079,265353.539479,0.144038,0.841412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335189,QUARTER,2024-01-01,None,TRUE,web only signup,ALL,16,21,1.312500,43,...,1.0,0.023256,1.0,1.000000,2.376700e+02,237.670000,28.520000,27.920000,0.119998,0.978962
340909,QUARTER,2024-01-01,None,TRUE,web only signup,ALL,17,21,1.235294,42,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352940,QUARTER,2024-01-01,None,TRUE,web only signup,ALL,18,23,1.277778,33,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371030,QUARTER,2024-01-01,None,TRUE,web only signup,ALL,30,36,1.200000,56,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
371108,QUARTER,2024-01-01,None,TRUE,web only signup,ALL,18,19,1.055556,34,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
q.sql.open()

In [9]:
q.df=df

In [12]:
q.df['MAJOR_MARKET_PARTNER']='BOO'

In [31]:
q=pydqt.Query('select * from nc_components_base')
q.run?

Signature: q.run(schema='')
Docstring: <no docstring>
File:      ~/research/.venv/lib/python3.11/site-packages/pydqt/pydqt.py
Type:      method

In [8]:
df['MAJOR_MARKET_PARTNER']='YO'

In [41]:
'a_b_c_s|w_x_y'.replace('_',' ').split('|')

['a b c s', 'w x y']

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJfb9owFMW%2FSuQ9J3ZSKK1FQBRUitYWVCja%2BubGJnh17MzXJnSffg5%2FpO6hlfYQKbLP8e%2Fee25%2FuK9UtBMWpNE5ShOCIqELw6Uuc%2FS8uo2vUASOac6U0SJH7wLQcNAHVqmajrzb6ifx2wtwUXhIA20vcuStpoaBBKpZJYC6gi5HD%2Fc0SwhlAMK6gEMnCwcZWFvnaopx0zRJc5EYW%2BKMEILJNQ6qVvINfUDUXzNqa5wpjDpb9qGnTxApJp0WERSBsDgZb6Q%2BjuAryutRBPRutVrEi%2FlyhaLRubux0eArYZfC7mQhnp%2FujwVAqOB2edm7zrJE%2BLgJo4vTBLRpNoq9icJUtXfh1ST84Y3gWJlShlnNJjmq3yS3bL1%2BEYubXw9Zdw6%2BN93%2FnG2nu%2B9342o6F12W%2Bj%2BFfp3%2BeEyhQNH6nGzWJjsD8GKm2zxdOCJZJyZZTLor0qOdHs0ukqtu%2BoKiSShKauYOznPRrCiM1w6S0phSiUN9BrdhZFjyehg%2ByfMxSUvNe5d7dFwSemDawf%2B23scf3ad9ewwRzCYLo2TxHt0aWzH3eUJpkh5OJI83BykVFZNqxLkVACEppUwztoK5sNbOeoHw4Ej9d7EHfwE%3D&RelayState=51927 to authenticate...
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJfb9owFMW%2FSuQ9J3bCn7YWATEyKGpoUUm3am8mNqmHY6e2Q%2BDbzwkgdQ%2BttIdIkX2Of%2Ffec0eTYym8A9OGKxmDMEDAYzJXlMsiBi%2FZ3L8FnrFEUiKUZDE4MQMm45EhpajwtLZv8pm918xYzz0kDW4vYlBriRUx3GBJSmawzfFmukpxFCBMjGHaOhy4WKjhjvVmbYUhbJomaHqB0gWMEEIQ3UGnaiXfwAdE9TWj0sqqXImr5eh6%2BgQRQtRvEU7hCOuL8TuX5xF8RdmeRQbfZ9naXz9tMuBNr93NlDR1yfSG6QPP2ctzei7AuArmm%2BHNXRQFrPYbNzo%2FDIxUzU6QPctVWdXWvRq4P7hjFApVcDerZRKDas%2FpfRL1Tw%2BvabNazB%2B2WblM9o8%2Feqv3p3yx%2BrNd1b8Om%2FQ1XSiqixx4P6%2FJRm2yS2NqtpRtntYdoajvo8hHgywcYnSLB%2F1gMOj9Bl7iiuKS2M55LZrkuaqlNUGhVCFYV5%2BCbRgR5LSauI%2FTeIbCQtKb4RGclwR3TD3%2B39ZH8KP7sm%2BPLoJlslaC5ydvrnRJ7OcJhUHYnXDq7zopZiXhYkqpZsa4pIRQzUwzYt1aW10zAMdn6r%2BLPf4L&RelayState=56213 to authenticate...
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJdb9sgFIb%2FisWubbDnxi2KE2X5UCOlm5ePacodNcRhxeBxcJ3u1484jdRdtNIukBC8L%2Bc5vGc4PtUqeBYWpNE5iiOCAqFLw6WucrTbLsJbFIBjmjNltMjRiwA0Hg2B1aqhk9Yd9Vr8bgW4wD%2BkgfYXOWqtpoaBBKpZLYC6km4mDyuaRIQ21jhTGoXeWD52MABhnSe8WjhIj3d0rqEYd10XdZ8jYyucEEIwucNedZZ8uupPvqd39DEm6VnvFV5evLJ9kfryBR9hPV5EQO%2B32yIsvm22KJhcUadGQ1sLuxH2WZZit15dAMATLDaD7C5JItGGnf%2B6MI5Am%2B6g2JMoTd20zr8a%2BR0%2BCI6VqaRvfDnLUfMk%2BS9mxID9SevbRXFoVoPV%2Bn6%2BXj1k6fHn7pGV8%2BL7PjvN2U26n5Qo%2BHFNNjknuwRoxVKf83T%2BiCRpSJKQDLYxoSSjN0mUZvEeBTMPJTVzvfMKzcrStNpBVBlTKdHzGXwOL8GSN2O%2FJM%2BnJK40zwYndBkS2te0o%2F9tfYjful%2Fn7auPYDkrjJLlS7Awtmbu%2FYTiKO5PJA8PvZSKmkk14dwKAJ%2BUUqabWsGcH2tnW4Hw6FL138Ee%2FQU%3D&RelayState=62545 to authenticate...

In [3]:
q.run(schema='lyst_analytics')

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJfb9owFMW%2FSuQ9J04CK8UiIApDZaUdK3TS%2BubFl9TCsTNfh0A%2FfR3%2BSN1DK01KpMg5179z77mD0b5UwQ4sSqMzkkQxCUDnRkhdZORpPQuvSYCOa8GV0ZCRAyAZDQfIS1Wxce1e9CP8rQFd4C%2FSyNofGamtZoajRKZ5Cchczlbj%2BwVLo5hxRLDO48i5RKD0rBfnKkZp0zRR04mMLWgaxzGN%2B9SrWskX8g5Rfc6orHEmN%2BpSsvc9fYBIaNxtEV7hCctz4Y3UpxF8RvlzEiG7Xa%2BX4fLHak2C8aW7idFYl2BXYHcyh6fHxckAegez1VWvn6YR1GHjRxcmEWrTbBTfQm7Kqnb%2B1sh%2F0Q0Iqkwh%2Fazm04xUWymKii%2Bev7%2Fe3N%2B5%2Bev256GHW%2F7t60Onqm53sJMN3u36arbQ3envnAS%2FLsmmbbJzxBrmus3T%2BaM47YZx6p91krJOn3Wuo15y9UyCqTclNXfHyotpnuem1g6jwphCwdGfoW0YKZWiGvlXimwSJ4UWvas9OS0JOzLt8H9bH9D31ed9e%2FARzKdLo2R%2BCGbGltx9nFASJccTKcLNUcqg5FKNhbCA6JNSyjQTC9z5tXa2BkKHJ%2Bq%2Fiz18Aw%3D%3D&RelayState=62357 to authenticate...

/Users/mingham/research/.venv/lib/python3.11/site-packages/pydqt/pydqt.py:629: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(self.sql.text, conn)

,PERIOD_DS_FREQ,EVENT_DS,MAJOR_MARKET_PARTNER,IS_MEMBER,USER_TYPE,SESSION_TRAFFIC_SOURCE_GROUPING,USER_COUNT,SESSION_COUNT,SESSIONS_PER_USER,LEAD_GENERATION_COUNT,...,CONVERSION_COUNT,TRACK_CONVERSION_RATE,ORDER_COUNT,ORDER_COUNT_PER_CONVERSION,AOV,CPA_RATE,RETAIN_RATE,GMV,GROSS_COMMISSION,NET_COMMISSION
0,WEEK,2023-11-06,IT,False,anon web,ORGANIC,66271,74277,1.120807,44548,...,304.0,0.006824,337.0,1.108553,222.843297,0.139643,0.694203,75098.191061,10486.905925,7280.042245
1,WEEK,2023-11-06,Europe (rest of Europe),False,anon web,DIRECT,24805,28138,1.134368,17564,...,85.0,0.004839,96.0,1.129412,287.218986,0.135185,0.652135,27573.022617,3727.450898,2430.802813
2,WEEK,2023-11-06,IT,True,app first,ORGANIC,1680,2218,1.320238,803,...,5.0,0.006227,5.0,1.000000,129.126446,0.144619,0.834048,645.632231,93.370742,77.875670
3,WEEK,2023-11-13,ES,True,app first,DIRECT,4572,8724,1.908136,1697,...,19.0,0.011196,20.0,1.052632,336.437141,0.133616,0.899361,6728.742810,899.066752,808.585352
4,WEEK,2023-12-18,Europe (rest of Europe),True,app first,ORGANIC,16294,24758,1.519455,6176,...,87.0,0.014087,89.0,1.022989,319.559272,0.135480,0.954067,28440.775250,3853.154202,3676.168639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4189,MONTH,2023-12-01,Middle East,True,app first,PAID,9914,12832,1.294331,3354,...,35.0,0.010435,37.0,1.057143,304.870166,0.152169,0.966076,11280.196148,1716.495786,1658.265786
4190,MONTH,2023-12-01,NL,True,app first,PAID,152,202,1.328947,109,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4191,MONTH,2023-12-01,None,True,w2a,DIRECT,717,2305,3.214784,709,...,11.0,0.015515,12.0,1.090909,312.301174,0.141410,0.971186,3747.614092,529.948405,514.678405
4192,MONTH,2023-12-01,Asia,False,anon web,CSS,3089,3977,1.287472,4094,...,16.0,0.003908,19.0,1.187500,268.830201,0.124736,0.743788,5107.773819,637.124534,473.885892
4193,MONTH,2023-12-01,AU,False,anon web,PLA-CO,45,51,1.133333,4,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
q.write_sql('nc_components_v2',schema='CORE_WIP')

Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Going to open: https://accounts.google.com/o/saml2/idp?idpid=C01gnd76x&SAMLRequest=lZJRb9owFIX%2FSuQ9J3YCK6tFQAyUwtRuDCiCvnmxSb06durrNHS%2Ffk4AqXtopUmJFDnn%2Bjv3njscH0sVvAgL0ugUxRFBgdC54VIXKbrfZOEXFIBjmjNltEjRqwA0Hg2Blaqik9o96pV4rgW4wF%2BkgbY%2FUlRbTQ0DCVSzUgB1OV1P7m5pEhHKAIR1HofOJRykZz06V1GMm6aJml5kbIETQggm19irWskn9AZRfcyorHEmN%2BpScvQ9vYOIMem3CK%2FwhOW58KvUpxF8RPl1EgGdbzbLcPljvUHB5NLd1GioS2HXwr7IXNyvbk8GwDvI1leD6ySJRB02fnRhHIE2zUGxJ5GbsqqdvzXyX%2FggOFamkH5Wi1mKqifJ93tI2Lb%2Fx9w8Z9tyvvt22LEH3Sun1V7I30VW3TC2W%2F3UxdzkKNhekk3aZBcAtVjoNk%2Fnj0jSD0nin02c0D6hcS%2BKPw8eUDDzpqRmrqu8mGZ5bmrtICqMKZTo%2FBnchpFgyauxfyVPpyQuNB9cHdFpSWjHtKP%2FbX2I31af9%2B27j2AxWxol89cgM7Zk7v2E4ijuTiQPD52UipJJNeHcCgCflFKmmVrBnF9rZ2uB8OhE%2FXexR38B&RelayState=62374 to authenticate...

In [28]:
def get_table_metadata(df):
    def map_dtypes(x):
        print(x)
        if (x == 'object') or (x=='category'):
            return 'VARCHAR'
        elif 'date' in x:
            return 'DATE'
        elif 'int' in x:
            return 'NUMERIC'  
        elif 'float' in x: return 'FLOAT' 
        else:
            print("cannot parse pandas dtype")
    sf_dtypes = [map_dtypes(str(s)) for s in df.dtypes]
    table_metadata = ", ". join([" ".join([y.upper(), x]) for x, y in zip(sf_dtypes, list(df.columns))])
    return table_metadata

In [30]:
q.df.dtypes

PERIOD_DS_FREQ                      object
EVENT_DS                            object
MAJOR_MARKET_PARTNER                object
IS_MEMBER                             bool
USER_TYPE                           object
SESSION_TRAFFIC_SOURCE_GROUPING     object
USER_COUNT                           int64
SESSION_COUNT                        int64
SESSIONS_PER_USER                  float64
LEAD_GENERATION_COUNT                int64
LEAD_GENERATION_RATE               float64
CONVERSION_COUNT                   float64
TRACK_CONVERSION_RATE              float64
ORDER_COUNT                        float64
ORDER_COUNT_PER_CONVERSION         float64
AOV                                float64
CPA_RATE                           float64
RETAIN_RATE                        float64
GMV                                float64
GROSS_COMMISSION                   float64
NET_COMMISSION                     float64
dtype: object

In [29]:
get_table_metadata(q.df)

object
object
object
bool
cannot parse pandas dtype
object
object
int64
int64
float64
int64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64
float64

TypeError: sequence item 1: expected str instance, NoneType found

In [25]:
# q.df.dtypes
for i in q.df['PERIOD_DS_FREQ']:
    if type(i)!=str:
        print(i,type(i))

# type(q.df['PERIOD_DS_FREQ'].iloc[0])

In [16]:
get_table_metadata(q.df)

cannot parse pandas dtype

TypeError: sequence item 1: expected str instance, NoneType found

In [11]:
q.df

,PERIOD_DS_FREQ,EVENT_DS,MAJOR_MARKET_PARTNER,IS_MEMBER,USER_TYPE,SESSION_TRAFFIC_SOURCE_GROUPING,USER_COUNT,SESSION_COUNT,SESSIONS_PER_USER,LEAD_GENERATION_COUNT,...,CONVERSION_COUNT,TRACK_CONVERSION_RATE,ORDER_COUNT,ORDER_COUNT_PER_CONVERSION,AOV,CPA_RATE,RETAIN_RATE,GMV,GROSS_COMMISSION,NET_COMMISSION
0,DAY,2023-12-12:00-00-00,DE,False,anon web,CSS,6597,7266,1.101410,10220,...,216.0,0.021135,231.0,1.069444,258.639873,0.150538,0.634315,59745.810638,8993.990960,5705.024255
1,DAY,2023-11-12:00-00-00,GB,False,anon web,ORGANIC,45173,47876,1.059837,26122,...,406.0,0.015542,460.0,1.133005,138.614336,0.137929,0.719278,63762.594355,8794.689968,6325.823445
2,DAY,2023-11-12:00-00-00,US,True,web only signup,ORGANIC,2413,2872,1.190220,3535,...,57.0,0.016124,62.0,1.087719,365.714918,0.143284,0.875257,22674.324935,3248.875689,2843.600527
3,DAY,2023-11-12:00-00-00,NL,True,app first,DIRECT,387,561,1.449612,168,...,3.0,0.017857,3.0,1.000000,139.355467,0.146841,1.000000,418.066401,61.389099,61.389099
4,DAY,2023-11-28:00-00-00,US,True,app first,PAID,307,318,1.035831,59,...,4.0,0.067797,4.0,1.000000,233.965000,0.115787,1.000000,935.860000,108.360000,108.360000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23645,DAY,2023-11-30:00-00-00,None,False,no on lyst view,PAID,2,2,1.000000,1,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23646,DAY,2023-11-07:00-00-00,None,True,w2a,PLA-EC,1,1,1.000000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23647,DAY,2023-12-13:00-00-00,Middle East,True,w2a,APP PAID,1,1,1.000000,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23648,DAY,2023-12-25:00-00-00,Europe (rest of Europe),True,web only signup,PLA-EC,1,1,1.000000,5,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23649,DAY,2023-11-19:00-00-00,AU,True,web only signup,CSS,1,1,1.000000,1,...,0.0,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN